<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CRM</title>

    <link rel="stylesheet" href="/vendors/feather/feather.css">
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/js/select.dataTables.min.css">
    <link rel="stylesheet" href="/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="/images/favicon.png" />

    <script type="text/javascript" src="js/crm.js"></script>
</head>

<body>

    <div class="container-scroller">
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">

            <!-- Navidation bar header, which collapses and opens the left nav bar -->
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-bs-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                </div>
                <div>
                    <a class="navbar-brand brand-logo" href="/">
                        <img src="images/logo.svg" alt="logo" />
                    </a>
                    <a class="navbar-brand brand-logo-mini" href="/">
                        <img src="images/logo-mini.svg" alt="logo" />
                    </a>
                </div>
            </div>
        </nav>

        <div class="container-fluid page-body-wrapper">

            <!-- Sidebar -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="mdi mdi-grid-large menu-icon"></i>
                            <span class="menu-title">CRM List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="/add">
                            <i class="menu-icon mdi mdi-file-document"></i>
                            <span class="menu-title">Add Client</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="/headSearch">
                            <i class="menu-icon mdi mdi-file-document"></i>
                            <span class="menu-title">Search By Pan</span>
                        </a>
                    </li>
                </ul>
            </nav>


            <!-- Main Panel -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <form class="forms-sample" id="addClientForm">

                            <!-- Card to select columns and RM -->
                            <div class="col-md-6 grid-margin stretch-card">
                                <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Add Client</h4>
                                    <div class="form-group">

                                        <table>
                                            <% for (let col of Object.keys(schemaData)) { %>
                                              <tr>
                                                <td><label for="<%= col %>"> <%= col %></label></td>
                                                <% const obj = JSON.parse(schemaData[col][0])
                                                let type = obj["type"]
                                                let values = obj["values"]
                                                %>
                                                
                                                <% if(type == "Dropdown") { %>
                                                  <td>
                                                    <select name="<%= col %>" id="<%= col %>">
                                                      <% values.forEach(item => { %>
                                                        <option value="<%= item %>"><%= item %></option>
                                                      <% }) %>
                                                    </select>
                                                  </td>
                                                <% } else { %>
                                                  <td><input type="<%= type %>" id="<%= col %>" name="<%= col %>"></td>
                                                <% } %>
                                              </tr>
                                            <% } %>
                                            <tr>
                                              <td>
                                                 <button type="button" class="btn btn-success" id="addClientButton" onclick="addClientForm('<%=Object.keys(schemaData) %>')">Add</button>
                                              </td>
                                            </tr>
                                          </table>
                                    </div>
                                </div>
                                </div>
                            </div>

                        </form>
                    </div>

                    <!-- Card to display the table -->
                    <div class="col-lg-6 grid-margin stretch-card" style="display: none" id="tableCard">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Hoverable Table</h4>
                                <div class="table-responsive">
                                    
                                    <table class="table table-hover" id="searchResultTable">
                                        <!-- The contents of this are populated by javascript -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- Footer -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Made by <a href="https://www.vipulbehl.com" target="_blank">Vipul Behl</a></span>
                    </div>
                </footer>
            </div>
        </div>

    </div>

    <script src="vendors/js/vendor.bundle.base.js"></script>
    <script src="vendors/chart.js/Chart.min.js"></script>
    <script src="vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="vendors/progressbar.js/progressbar.min.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/Chart.roundedBarCharts.js"></script>
    <script src="/js/select2.js"></script>
    <script src="/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="/vendors/select2/select2.min.js"></script>
    <script src="/js/file-upload.js"></script>
    <script src="/js/typeahead.js"></script>
    <script src="/js/select2.js"></script>
</body>

</html>