<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRM Application</title>
</head>

<body>
    <h1>Add Client</h1>

    <form action="/add" method="post">
      <table>
        <% for (let col of Object.keys(schemaData)) { %>
          <tr>
            <td><label for="<%= col %>"> <%= col %></label></td>
            <% const obj = JSON.parse(schemaData[col])
            let type = obj["type"]
            let values = obj["values"]
            %>
            
            <% if(type == "Dropdown") { %>
              <td>
                <select name="<%= col %>" id="<%= col %>">
                  <% values.forEach(item => { %>
                    <option value="<%= item %>"><%= item %></option>
                  <% }) %>
                </select>
              </td>
            <% } else { %>
              <td><input type="<%= type %>" id="<%= col %>" name="<%= col %>"></td>
            <% } %>


          </tr>
        <% } %>
        <tr>
          <td><button type"submit">Add</button></td>
          <td></td>
        </tr>
      </table>
    </form>

</body>

</html>