<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CRM</title>

    <link rel="stylesheet" href="/vendors/feather/feather.css">
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/js/select.dataTables.min.css">
    <link rel="stylesheet" href="/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="/images/favicon.png" />

    <script type="text/javascript" src="js/crm.js"></script>
</head>

<body>

    <div class="container-scroller">

        <!-- Top Banner-->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">

            <!-- Navidation bar header, which collapses and opens the left nav bar -->
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-bs-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                </div>
                <div>
                    <a class="navbar-brand brand-logo" href="/">
                        <img src="images/logo.svg" alt="logo" />
                    </a>
                    <a class="navbar-brand brand-logo-mini" href="/">
                        <img src="images/logo-mini.svg" alt="logo" />
                    </a>
                </div>
            </div>

            <div class="navbar-menu-wrapper d-flex align-items-top">
                <ul class="navbar-nav">
                    <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                        <h1 class="welcome-text">Good <%= dayPeriod %>, <span class="text-black fw-bold"><%= config['loginName'] %></span></h1>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-bs-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>

        <div class="container-fluid page-body-wrapper">

            <!-- Sidebar -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="mdi mdi-grid-large menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="/add">
                            <i class="menu-icon mdi mdi-file-document"></i>
                            <span class="menu-title">Add Records</span>
                        </a>
                    </li>
                </ul>
            </nav>


            <!-- Main Panel -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <form class="forms-sample" id="searchForm">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h4 class="card-title">Select RM/Columns</h4>
                                            <div class="form-group">
                                                <label>Select RMs</label>   
                                                <!-- Checkbox to toggle RMs-->
                                                <label class="form-check-label" style="text-align: right; float: right;">
                                                    <input type="checkbox" class="form-check-input" id="selectedRmsButton" onclick="toggleAllFields(this.id)">
                                                    All
                                                    <i class="input-helper"></i>
                                                </label>
                                                
                                                <select class="js-example-basic-multiple w-100" multiple="multiple" id="selectedRms">
                                                    <% rmNames.forEach(item => { %>
                                                        <option id="<%= item %>" name="<%= item %>" value="<%= item %>"><%= item %></option>
                                                    <% }); %>
                                                </select>

                                                <br><br>
                                                
                                                <label>Select Columns to Display</label>
                                                 <!-- Checkbox to toggle Columns-->
                                                 <label class="form-check-label" style="text-align: right; float: right;">
                                                    <input type="checkbox" class="form-check-input" id="selectedColumnsButton" onclick="toggleAllFields(this.id)">
                                                    All
                                                    <i class="input-helper"></i>
                                                </label>

                                                <select class="js-example-basic-multiple w-100" multiple="multiple" id="selectedColumns">
                                                    <% columnNames.forEach(item => { %>
                                                        <option id="<%= item %>" name="<%= item %>" value="<%= item %>"><%= item %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h4 class="card-title">Search Options</h4>
                                            <div class="form-group">
                                                <textarea class="form-control" id="panSearchTextArea" name="panSearchTextArea" rows="4" style="height: 50px;" placeholder="Pan Search, enter new value at new line"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="nameSearchTextArea" name="nameSearchTextArea" rows="4" style="height: 50px;" placeholder="Name Search, enter new value at new line"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="headPanSearchTextArea" name="headPanSearchTextArea" rows="4" style="height: 50px;" placeholder="Head Pan Search, enter new value at new line"></textarea>
                                            </div>
        
                                            <!-- Search Button -->
                                            <button type="button" class="btn btn-success" id="searchFormButton" onclick="submitSearchForm()">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

                    <!-- Card to display the table -->
                    <div class="col-lg-12 grid-margin stretch-card" style="display: none" id="tableCard">
                        <div class="card">
                            <div class="card-body">
                                <table style="width: 100%;">
                                    <tr>
                                        <td><h4 class="card-title">Search Results</h4></td>
                                        <td style="text-align: center;">
                                            <button type="button" class="btn btn-outline-secondary btn-rounded btn-icon" id="downloadButton" onclick="downloadButton()">
                                                <i class="ti-stats-up text-success"></i>                          
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                                
                                <div class="table-responsive">
                                    
                                    <table class="table table-hover" id="searchResultTable">
                                        <!-- The contents of this are populated by javascript -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Made by <a href="https://www.vipulbehl.com" target="_blank">Vipul Behl</a></span>
                    </div>
                </footer>
            </div>
            <!-- main-panel ends -->
        </div>

    </div>

    <script src="vendors/js/vendor.bundle.base.js"></script>
    <script src="vendors/chart.js/Chart.min.js"></script>
    <script src="vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="vendors/progressbar.js/progressbar.min.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/Chart.roundedBarCharts.js"></script>
    <script src="/js/select2.js"></script>
    <script src="/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="/vendors/select2/select2.min.js"></script>
    <script src="/js/file-upload.js"></script>
    <script src="/js/typeahead.js"></script>
    <script src="/js/select2.js"></script>
</body>

</html>