<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRM Application</title>
  <script type="text/javascript">
    function enableButtons(buttonName) {
        let elementsDict = document.getElementsByName(buttonName);
        let enableDisableButton = document.getElementById(buttonName);
        let submitButtonId = "0" + buttonName;
        let submitButton = document.getElementById(submitButtonId);
        elementsDict.forEach(element => {
            if (element.disabled) {
                // Enable all the other field and enable the save button
                element.removeAttribute('disabled');
                enableDisableButton.innerHTML = "Lock";
                submitButton.removeAttribute('disabled');
            } else {
                element.disabled = true;
                submitButton.disabled = true;
                enableDisableButton.innerHTML = "Edit";
            }
        });
    }
</script>
</head>
<body>
  <h1>CRM Application</h1>

  <a href="/add"> Add Client </a>

  <form action="/search" method="post">
    
    <table>
        <tr>
            <td>
                <h2>Select Columns to Display</h2>
                <ul>
                    <% columnNames.forEach(item => { %>
                    <li>
                        <input type="checkbox" id="<%= item %>" name="<%= item %>" value="<%= item %>">
                        <label for="<%= item %>"> <%= item %></label>
                    </li>
                    <% }); %>
                </ul>
            </td>
        
            <td>
                <h2> Select RMs</h2>
                <ul>
                    <% rmNames.forEach(item => { %>
                    <li>
                        <input type="checkbox" id="<%= item %>" name="<%= item %>" value="<%= item %>">
                        <label for="<%= item %>"> <%= item %></label>
                        
                    <% }); %>
                </ul>
            </td>
        </tr>
        <tr>
            <td><button type"submit">Search</button></td>
        </tr>
    </table>
    
  </form>

  <br>
  <br>

  <!-- Printing the serach result box -->
  <% if(locals.searchHeaders) { %>
    <form action="/download" method="post">
        <button type"submit">Download Results</button>
    </form>
    <br>

    <table border="1">
        <!-- Displaying the column headers -->
        <tr>
            <% searchHeaders.forEach(item => { %>
            <td><b><%= item %></b></td>
            <% }); %>
        </tr>
        <!-- Looping through all the result rows -->
        <% for (var i=0; i<searchResult.length; i++) { %>
            <form action="/update" method="post">
                <tr>
                    <% let enableIds = [] %>
                    <!-- Looping over each column in the result row -->
                    <% Object.keys(searchResult[i]).forEach(col => { %>
                        <% 
                            if (col != "id") {
                                console.log(col);
                                const obj = JSON.parse(schemaData[col][0])
                                let type = obj["type"]
                                <!-- These are the allowed values for a column, which will appear in the dropdown list -->
                                let values = obj["values"]
                                let columnValue = searchResult[i][col];
                                enableIds.push(columnValue);
                        %>
                            <!-- Displaying dropdown in case the field is of dropdown value otherwise displaying text/date option -->
                            <% if(type == "Dropdown") { %>
                                <td>
                                    <select name="<%= i %>" id="<%= columnValue %>" disabled>
                                        <% values.forEach(item => { %>
                                            <% if(item.toLowerCase() == columnValue.toLowerCase()) { %>
                                                <option value="<%= item %>" selected><%= item %></option>
                                            <% } else { %>
                                                <option value="<%= item %>"><%= item %></option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                </td>
                            <% } else { %>
                                <td>
                                    <input type="<%= type %>" id="<%= columnValue %>" name="<%= i %>" value="<%= columnValue %>" disabled>
                                </td>
                            <% } 
                            }%>
                    <% }); %>  
                    
                    <!-- Button to enable the fields -->
                    <td>
                        <button type="button" id = "<%= i %>" onclick="enableButtons(this.id);">Edit</button>
                    </td>
                    <td>
                        <input type="hidden" name="searchHeaders" value="<%= searchHeaders %>">    
                    </td>
                    <td>
                        <input type="hidden" name="rowNumber" value="<%= searchResult[i]["id"] %>">
                    </td>
                    <% let idButton = "0" + i %>
                    <td>
                        <button type"submit" id = "<%= idButton %>" disabled>Save</button>
                    </td>
                </tr>
            </form>
        <% } %>
    </table>
  <% } %>
</body>
</html>